<app-header></app-header>
<div class="box">
  <div class="box-login">
    <h2>Efetue o Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <input  type="text" formControlName="cpf" placeholder="CPF" required>
      <input type="password" formControlName="senha" name="password" placeholder="Senha" required>
      <div class="form-group-login left">
        <input type="submit" name="acao" value="Logar!" >
        <div class="form-group-login right">
          <input type="submit" name="acao" routerLink="/signup" value="Cadastre!">
        </div>
      </div>

    </form>
  </div>
</div>

<app-footer></app-footer>





