<div class="menu">
  <div class="menu-wrapper">
    <div class="box-usuario">
      <div class="avatar-usuario">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="nome-usuario" *ngFor="let names of nome">
        <p>Dr. {{names.nome}}</p>
        <p>{{names.especialidade}}</p>
      </div>
    </div>

    <div class="items-menu">
      <h2>Atendimento</h2>
      <a routerLink="/telaMedico/ConsultaPaciente" routerLinkActive="active-link">Consultas Pacientes</a>
      <a routerLink="/telaMedico/videoPaciente" routerLinkActive="active-link">Video - Pacientes</a>
    </div>

  </div>
</div>

<header>
  <div class="center">
    <div class="menu-btn">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
    <div class="loggout">
      <a href="#"><i class="fa fa-home"></i> <span>Pagina Inicial</span> </a>
    </div>
    <div class="clear"></div>
  </div>
</header>

<router-outlet></router-outlet>