<app-pagina-usuario></app-pagina-usuario>
<div class="content">
  <div class="box-content">
    <h2>
      <fa-icon [icon]=faDoctor></fa-icon> Deseja falar com o Médico?
    </h2>

    <div class="texto-agendar">
      <h4>Selecione o médico que deseja falar:</h4>
    </div>

    <div class="box-medico">
      <div class="medico">
        <div class="medico-img">
          <span>
            <fa-icon [icon]=faDoctor></fa-icon>
          </span>
        </div>
        <div class="content-medico">
          <h2>Dr. Beno Lopes Dias</h2>
          <h4>Clinico Geral</h4>
          <h5>CRM: SP 8943</h5>
        </div>
      </div>
      <button>Falar com médico</button>
    </div>

        <div class="box-medico">
      <div class="medico">
        <div class="medico-img">
          <span>
            <fa-icon [icon]=faDoctor></fa-icon>
          </span>
        </div>
        <div class="content-medico">
          <h2>Dr. Beno Lopes Dias</h2>
          <h4>Clinico Geral</h4>
          <h5>CRM: SP 8943</h5>
        </div>
      </div>
      <button>Falar com médico</button>

    </div>


  </div>

</div>
