<app-pagina-usuario></app-pagina-usuario>
<div class="content">
  <div class="box-content">
    <h2>
      <fa-icon [icon]=faDoctor></fa-icon> Deseja falar com o Médico?
    </h2>

    <div class="texto-agendar">
      <h4>Selecione o médico que deseja falar:</h4>
    </div>

    <div class="box-medico" *ngFor="let teste of listar">
      <div class="medico">
        <div class="medico-img">
          <span>
            <fa-icon [icon]=faDoctor></fa-icon>
          </span>
        </div>
        <div class="content-medico" >
          <h2>DR. {{teste.nome}}</h2>
          <h4>{{teste.especialidade}}</h4>
          <h5>{{teste.crm}}</h5>
        </div>
      </div>
      <button>Falar com médico</button>
    </div>




  </div>

</div>
