
  <header id="header">


    <nav class="container">
        <a class="logo" routerLink="/">Med<span>Base</span>.</a>
        <div class="menu">
            <ul class="grid">
                <li><a class="title" routerLink="/">Inicio</a></li>
                <li><a class="title" routerLink="/area-medica">Área médica</a></li>
                <li><a class="title" routerLink="">Rémedios</a></li>
                <li><a class="title" routerLink="">Contato</a></li>

            </ul>
        </div>
        <div class="toggle icon-menu"></div>
        <div class="toggle icon-close"></div>
    </nav>

  </header>




