<app-header></app-header>
<section class="section" id="home">
  <div class="container grid">
      <div class="image">
          <img src="https://img.freepik.com/fotos-gratis/mao-segurando-o-conceito-de-saude-do-estetoscopio_53876-129536.jpg?size=626&ext=jpg&ga=GA1.2.793906127.1664390983" alt="Imagem 1">
      </div>
      <div class="text">
          <h2 class="title">Saúde para todos que vem pra MedBase.</h2>
          <p>Nos preocupamos com sua saúde, não perca tempo e marque um horario conosco!</p>
          <a class="button" href="#">Agendar um horário</a>
      </div>

  </div>
</section>

<section class="section" id="about">
  <div class="container grid">
      <div class="image">
          <img src="https://img.freepik.com/fotos-gratis/maos-da-medica-irreconhecivel-escrevendo-no-formulario-e-digitando-no-teclado-do-laptop_1098-20374.jpg?size=626&ext=jpg&ga=GA1.2.793906127.1664390983" alt="3 mulheres sorrindo">
      </div>
      <div class="text">
          <h2 class="title">Sobre nós</h2>
          <p>A MedBase proporciana aos pacientes uma experiência íncrivel em relação á saúde do ser humano. <p>
          <br />
          <p>A Medbase proporciona aos pacientes uma experiência incrível em relação á saúde do ser humano, facilitando o conforto, preços e atendimento ao cliente .</p>
          <br />
          <p>Nós sempre prezamos pelo tempo de nossos pacientes</p>
      </div>
  </div>
</section>


<app-footer></app-footer>
