<app-pagina-medico></app-pagina-medico>
<div class="content">
    <div class="box-content">
        <div class="paciente">
            <div class="box-video">
                <div class="avatar-usuario">
                    <img src="../../../assets/img/foto_de_frente_homem.jpeg" alt="">
                </div>
            </div>
            <div class="box-video">
                <img src="../../../assets/img/foto_de_frente_mulher.jpeg" alt="">
            </div>
        </div>

        <div class="chat">
            <form>
                <textarea type="text" rows="5" cols="33"></textarea>
                <input type="submit" name="acao" value="Enviar">
            </form>
        </div>

    </div>
</div>