<app-pagina-usuario></app-pagina-usuario>
<div class="content">
  <div class="box-content">
    <h2>
      <fa-icon [icon]=faPills></fa-icon> Suas Receitas:
    </h2>

    <div class="wraper-table" >
      <table >
        <tr>
          <td>Remédios</td>
          <td>Receita</td>
        </tr>
        <tr *ngFor="let remedio of listar">
          <td>{{remedio.remedios}}</td>
          <td>{{remedio.receita}}</td>
        </tr>
        <tr>
          <td>Dipirona</td>
          <td>8 em 8 horas</td>
        </tr>
      </table>
    </div>
  </div>
</div>

